{% extends "content.html" %}
{% block title %}Races - Flask App{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold text-primary">PacePack</h1>
        <p class="lead text-muted">Aplikace pro sledování běžeckého výkonu.</p>

        <div class="mt-4">
            <a href="{{ url_for('content_section', section='login') }}" class="btn btn-lg btn-primary mx-2">Přihlášení</a>
            <a href="{{ url_for('content_section', section='register') }}" class="btn btn-lg btn-outline-primary mx-2">Registrace</a>
        </div>
    </div>
</div>
{% endblock %}
