{% extends "content.html" %}
{% block title %}Races - Flask App{% endblock %}
{% block content %}
    <h2 class="text-center mb-4">🔐 {{ textVars["title"] }}</h2>
    
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Enter your username") }}
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Enter your password") }}
        </div>

        <div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endblock %}
