{% extends "content.html" %}

{% block title %}
    {{ textVars["title"] }}
{% endblock %}

{% block content %}
    <h2>👤{{ textVars["title"] }}</h2>
    <p>{{ textVars["description"] }}</p>
    
    <div>
        <strong>{{ textVars["name_label"] }}:</strong> {{ user.name }}
    </div>
    <div>
        <strong>{{ textVars["surname_label"] }}:</strong> {{ user.surname }}
    </div>
    <div>
        <strong>{{ textVars["email_label"] }}:</strong> {{ user.email }}
    </div>
    <div>
        <strong>{{ textVars["telephone_label"] }}:</strong> +{{user.telephoneCode }}{{ user.telephone }}
    </div>
    <div>
        <strong>{{ textVars["gender_label"] }}:</strong> {{ user.gender }}
    </div>
    <div>
        <strong>{{ textVars["country_label"] }}:</strong> {{ user.address.country }}
    </div>
    <div>
        <strong>{{ textVars["street_name_label"] }}:</strong> {{ user.address.streetname }}
    </div>
    <div>
        <strong>{{ textVars["postal_code_label"] }}:</strong> {{ user.address.postalcode }}
    </div>
    <br>
{% endblock %}
