{% extends "content.html" %}

{% block title %}
    {{ textVars["title"] }}
{% endblock %}

{% block content %}
<div class="container mt-4">
  
    <div class="mb-4 d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1">{{ textVars['races_list'] }}</h2>
            <p class="text-muted mb-0">{{ textVars['description'] }}</p>
        </div>
        {% if g.current_user.isadmin or g.current_user.issponsor %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="bi bi-plus-circle"></i> {{ textVars['create_race'] }}
        </button>
        {% endif %}
    </div>

    <div class="sorting d-flex justify-content-end p-3">
        <form method="GET" action="{{ url_for('content_section', section='races') }}" class="d-flex gap-3 align-items-center">
            <div class="form-group mb-0">
                <label for="sort_by" class="form-label">{{ textVars['sort_by'] }}:</label>
                <select id="sort_by" name="sort_by" class="form-select form-select-sm">
                    <option value="name" {% if request.args.get('sort_by') == 'name' %}selected{% endif %}>{{ textVars['name'] }}</option>
                    <option value="date" {% if request.args.get('sort_by') == 'date' %}selected{% endif %}>{{ textVars['date'] }}</option>
                    <option value="address" {% if request.args.get('sort_by') == 'address' %}selected{% endif %}>{{ textVars['address'] }}</option>
                </select>
            </div>
    
            <div class="form-group mb-0">
                <label for="order" class="form-label">{{ textVars['order'] }}:</label>
                <select id="order" name="order" class="form-select form-select-sm">
                    <option value="asc" {% if request.args.get('order') == 'asc' %}selected{% endif %}>
                        <i class="fas fa-arrow-up"></i> {{ textVars['asc'] }}
                    </option>
                    <option value="desc" {% if request.args.get('order') == 'desc' %}selected{% endif %}>
                        <i class="fas fa-arrow-down"></i> {{ textVars['desc'] }}
                    </option>
                    
                </select>
            </div>
    
            <button type="submit" class="btn btn-primary btn-sm">{{ textVars['sort'] }}</button>
        </form>
    </div>
    
    


    <!-- races List Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ textVars['race_name_label'] }}</th>
                <th scope="col">{{ textVars['race_date_label'] }}</th>
                <th scope="col">{{ textVars['race_time_label'] }}</th>
                <th scope="col">{{ textVars['description_label'] }}</th>
                <th scope="col">{{ textVars['address_label'] }}</th>
                {% if not g.current_user.issponsor %}
                <th scope="col">{{ textVars['actions_label'] }}</th>
                {% endif %}
                {% if g.current_user.isadmin %}
                <th scope="col">{{ textVars['edit'] }}</th>
                <th scope="col">{{ textVars['delete'] }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for race in races %}
            <tr>
                <td><a href="{{ url_for('content_section', section='races/' ~ race.id) }}">{{ race.name }}</a></td>
                <td>{{ race.date.strftime('%d-%m-%Y') }}</td>
                <td>{{ race.time.strftime('%H:%M') }}</td>
                <td>{{ race.description }}</td>
                <td>{{ race.address.streetname }}, {{ race.address.postalcode }}</td>
                <td>
                    {% set race = race_service.get_race_by_id(race.id) %}
                    
                    {% if race.date < now.date() or race.time < now.time() %}
                        {% if not g.current_user.issponsor or not g.current_user.isadmin %}
                            {% if race.id in user_registered_race_ids %}
                                {% set unregister_url = url_for('unregister_user_from_race', userid=g.current_user.id, raceid=race.id) %}
                                <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ unregister_url }}'">
                                    <i class="bi bi-person-dash"></i>
                                </button>
                            {% else %}
                                {% set register_url = url_for('register_user_to_race', userid=g.current_user.id, raceid=race.id) %}
                                <button class="btn btn-success btn-sm" onclick="window.location.href='{{ register_url }}'">
                                    <i class="bi bi-person-plus"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>

                
                {% if g.current_user.isadmin or g.current_user.issponsor %}
                <!-- Admin can edit it -->
                <td>
                    <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editraceModal{{ race.id }}" onclick="populateEditRaceForm('{{ race.id }}', '{{ race.name }}', '{{ race.date }}', '{{ race.description }}', '{{ race.address.streetname }}', '{{ race.address.postalcode }}')">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
                <!-- Admin can delete it -->
                <td>
                    <form method="POST" action="{{ url_for('content_section', section='races') }}">
                        <input type="hidden" name="delete_race" value="{{ race.id }}">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ race.id }}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
                {% else %}
                <!-- Empty space to maintain alignment for races created by others -->
                <td class="empty-cell"></td>
                <td class="empty-cell"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

  <!-- Create race Modal -->
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="createModalLabel">{{ textVars["create_race"] }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action="{{ url_for('content_section', section='races') }}">
                  {{ form.hidden_tag() }} 
                  <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">{{ textVars["race_name_label"] }}</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">{{ textVars["race_date_label"] }}</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">{{ textVars['race_time_label'] }}</label>
                        <input type="time" class="form-control" id="time" name="time" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">{{ textVars["description_label"] }}</label>
                        <textarea class="form-control" id="description" name="description" required>{{ form.description.data }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="capacity" class="form-label">{{ textVars["capacity_label"] }}</label>
                        <input type="text" class="form-control" id="capacity" name="capacity" required>
                    </div>
                    <div class="mb-3">
                      <label for="streetname" class="form-label">{{ textVars["street_name_label"] }}</label>
                      <input type="text" class="form-control" id="streetname" name="streetname" required>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">{{ textVars["country_label"] }}</label>
                        <input type="text" class="form-control" id="country" name="country" required>
                    </div>
                    <div class="mb-3">
                        <label for="postalcode" class="form-label">{{ textVars["postal_code_label"] }}</label>
                        <input type="text" class="form-control" id="postalcode" name="postalcode" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="category_id" class="form-label">{{ textVars["category_label"] }}</label>
                    <select class="form-select" id="category_id" name="category_id" required>
                      {% for category in categories %}
                        <option value="{{ category.id }}">
                          {{ category.category }} - {{ category.gender }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ textVars["cancel"] }}</button>
                      <button type="submit" class="btn btn-success">{{ textVars["save"] }}</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  {% for race in races %}
  <div class="modal fade" id="editraceModal{{ race.id }}" tabindex="-1" aria-labelledby="editraceModalLabel{{ race.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editraceModalLabel">{{ textVars["edit_race"] }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{{ url_for('content_section', section='races') }}">
          {{ form.hidden_tag() }}
          <div class="modal-body">
              <!-- Hidden race ID field -->
              <input type="hidden" name="race_id" id="race_id" value="{{ race.id }}">

              <div class="mb-3">
                  <label for="name" class="form-label">{{ textVars["race_name_label"] }}</label>
                  <input type="text" class="form-control" id="name" name="name" value="{{ race.name }}" required>
              </div>
              <div class="mb-3">
                  <label for="date" class="form-label">{{ textVars["race_date_label"] }}</label>
                  <input type="date" class="form-control" id="date" name="date" value="{{ race.date }}" required>
              </div>
              <div class="mb-3">
                  <label for="time" class="form-label">{{ textVars["race_time_label"] }}</label>
                  <input type="time" class="form-control" id="time" name="time" value="{{ race.time }}" required>
              </div>
              <div class="mb-3">
                  <label for="description" class="form-label">{{ textVars["description_label"] }}</label>
                  <textarea class="form-control" id="description" name="description" required>{{ race.description }}</textarea>
              </div>
              <div class="mb-3">
                  <label for="capacity" class="form-label">{{ textVars["capacity_label"] }}</label>
                  <input type="text" class="form-control" id="capacity" name="capacity" value="{{ race.capacity }}" required>
              </div>
              <div class="mb-3">
                  <label for="streetname" class="form-label">{{ textVars["street_name_label"] }}</label>
                  <input type="text" class="form-control" id="streetname" name="streetname" value="{{ race.address.streetname }}" required>
              </div>
              <div class="mb-3">
                  <label for="country" class="form-label">{{ textVars["country_label"] }}</label>
                  <input type="text" class="form-control" id="country" name="country" value="{{ race.address.country }}" required>
              </div>
              <div class="mb-3">
                  <label for="postalcode" class="form-label">{{ textVars["postal_code_label"] }}</label>
                  <input type="text" class="form-control" id="postalcode" name="postalcode" value="{{ race.address.postalcode }}" required>
              </div>
              <div class="mb-3">
                <label for="category_id" class="form-label">{{ textVars["category_label"] }}</label>
                <select class="form-select" id="category_id" name="category_id" required>
                  {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == race.category_id %}selected{% endif %}>
                      {{ category.category }} - {{ category.gender }}
                    </option>
                  {% endfor %}
                </select>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ textVars["cancel"] }}</button>
              <button type="submit" class="btn btn-primary">{{ textVars["save"] }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- Delete race Modals -->
  {% for race in races %}
      <div class="modal fade" id="deleteModal{{ race.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ race.id }}" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel{{ race.id }}">{{ textVars["delete_race"] }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method="POST" action="{{ url_for('content_section', section='races') }}">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="delete_race_id" value="{{ race.id }}">
                    <div class="modal-body">
                        <p>{{ textVars["delete_race_confirmation"] }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ textVars["cancel"] }}</button>
                        <button type="submit" class="btn btn-danger">{{ textVars["delete"] }}</button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  {% endfor %}
{% endblock %}