{% extends "content.html" %}

{% block title %}
    {{ textVars["title"] }}
{% endblock %}

{% block content %}
<div class="card p-4">
    <h2 class="text-xl font-bold mb-4">{{ run.name }}</h2>
    <p><strong>{{ textVars['date'] }}:</strong> {{ run.date }}</p>
    <p><strong>{{ textVars['description'] }}:</strong> {{ run.description }}</p>

    <hr class="my-4">

    <h3 class="text-lg font-semibold">{{ textVars['participants'] }}:</h3>
    <ul class="list-disc list-inside">
        {% for user_run in user_runs %}
            {% set user = users[loop.index0] %}
            <li>
                {{ user.name }}
                {{ user.surname }} 
                {% if user_run.iscreator %}
                    (Creator)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if g.current_user %}
    <div class="d-flex justify-content-end mt-4">
        <form method="POST">
            {{ form.hidden_tag() }}
            {% if not already_registered %}
                <button type="submit" name="sign_up" class="btn btn-success">
                    {{ textVars['sign_up'] }}
                </button>
            {% else %}
                {% set user_run = user_runs | selectattr('userid', 'equalto', g.current_user.id) | list | first %}
                {% if user_run and not user_run.iscreator %}
                    <button type="submit" name="sign_off" class="btn btn-danger">
                        {{ textVars['sign_off'] }}
                    </button>
                {% else %}
                    <div class="alert alert-info">{{ textVars['creator_flash'] }}</div>
                {% endif %}
            {% endif %}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
