{% extends "content.html" %}
{% block title %}Runs - Flask App{% endblock %}
{% block content %}
  <h1>{{ textVars["title"] }}</h1>
  <p class="lead">{{ textVars["description"]}} </p>
  
    <ul>
      {% for run in runs %}
      <br>
            <li>
                <strong>{{ run.name }}</strong> - {{ run.date }} <br>
                <em>{{ run.description }}</em>
            </li>
        {% else %}
            <li>{{ textVars["text"]}}</li>
        {% endfor %}
    </ul>
  
  
{% endblock %}